.SlotMachine {
  display: flex;
  flex-flow: column nowrap;
  height: 40vh;

  .SlotMachine-head,
  .SlotMachine-body,
  .SlotMachine-feet {
    flex: 1;
  }

  .SlotMachine-body {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 5px 0 5px;
    background-color: #b71c1c;
  }
}
